extends layout

block content
  .row
    .col-md-2
    .col-md-8
      form(action='/admin/items/edit/'+item._id, method='POST')
        .form-group
            label Item Name:
            input.form-control(type='text', name='name', value=item.itemname) 
        .form-group
            label Itemprice:
            input.form-control(type='text', name='price', value=item.itemprice)
        .form-group
            label Username:                        
            input.form-control(type='text', name='username', value=item.username)    
        .form-group    
            label Description:        
            input.form-control(type='text', name='description', value=item.description)   
        .form-group    
            label Status:        
            input.form-control(type='text', name='status', value=item.status)
                                               
        button.btn.btn-primary(type='submit') Update    
        button.btn.btn-danger(type='submit' value='Delete' style="margin-left:18%;margin-top:1px;" class="deleteBtn" id=item._id) Delete 
    .col-md-2 

  script.
      $('.deleteBtn').click(function () {
          var record_num = this.id;
          $.ajax({
            url: '/admin/items/edit/' + record_num,
            type: 'DELETE',
            success: function (result) {
              console.log(result.message);
              location.href = "http://localhost:3000/admin";              
            },
            error: function (result) {        
            }
          });
        });      