extends layout

block content
  h3(style="text-align:center;font-weight:bold;") Cart Checkout page
    // Cart
    section.cart.bgwhite.p-t-70.p-b-100
      .container
        // Cart item
      container
        .row
          .col-md-3
            each i in docs
              img(style="height:104px;width:74px;text-align:center;display:block;margin-left: 15%;" src="/itempic/" + i.itemimageupload)
          .col-md-8
            each datas in data
              if user.username == datas.buyer
                if datas.status !='Paid'
<<<<<<< HEAD
                  h4(style="margin-top:10px;padding-right:10px;display:inline-block;") Product Name
                    p(style="margin-top:10px;font-weight:bolder;font-size:60%;margin-bottom:48px;")  #{datas.itemname}
                    hr  
                  h4(style="padding-right:40px;display:inline-block;margin-left: 70px") Product Price
                    p(style="margin-top:10px;font-weight:bolder;font-size:60%;padding-bottom:32px;") $#{datas.itemprice}
                    hr
                if datas.status == 'Accepted' 
                  h4(style="display:inline-block;") Payment
                    p(style="margin-top:5px; padding-bottom:24px;")
                      a(href='/payment/'+ datas.uniqueID ,class="btn btn-primary" type='button' name='paynow') Pay Now!
        
        form(method ='POST' action='/cart')        
          button.btn.btn-primary(type="button" data-toggle="modal" data-target="#myModalx") Pay for all items!    
          #myModalx.modal.fade(role="dialog" style="background: rgba(0, 0, 0, 0.3); position: fixed; top: 0; right: 0; bottom: 0; left: 0;")
            .modal-dialog
              // Modal content
              .modal-content
                .modal-header
                  h4.modal-title Pay for all Items.
                  button.close(type="button" data-dismiss="modal") ×
                .modal-body
                  h4 Total Price would be: $#{y}
                  if bank.amount > y
                    input.btn.btn-info(type="submit" value="Pay All!" name="paynow" style="margin-top:20px;")
                  else
                    p(style="text-align:center;font-weight:bold;") Your wallet has insufficient balance. Please add more via the profile page!
                .modal-footer
                  button.btn.btn-default(type="button" data-dismiss="modal") Close 
    style. 
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
      }
          

=======
                  p(style="font-weight:bolder;font-size:60%") Item Name: #{datas.itemname} 
                  p(style="font-weight:bolder;font-size:70%") Item Price: $#{datas.itemprice}
                if datas.status == 'Accepted' 
                  a(href='/payment/'+ datas.uniqueID ,class="btn btn-primary" type='button' name='paynow') Pay Now!
>>>>>>> parent of 4fd9fef... savestate cart 1.
