extends layout

block content
  h3(id="meow" style="text-align:center;font-weight:bold;") Item Page
  //form(method='POST', action='/product/' + _id)
  container
    img(style="height:50%;width:50%;text-align:center;display:block;margin-left: auto;margin-right: auto;" src= "/itempic/" + data.itemimageupload )
    h4(style="text-align:center;font-weight:bold;") Item Name: #{data.itemname}
    h4(style="text-align:center;font-weight:bold;") Item Price: $#{data.itemprice}
    h5(style="text-align:center;font-weight:bold;") Seller: #{data.username}
    h5(style="text-align:center;font-weight:bold;") Item's Current Condition: #{data.itemcondition}
    h5(style="text-align:center;font-weight:bold;width:50%;margin-left:25%") Description: #{data.description} 
    
    if user == null
      h3(id="meow" style="text-align:center;font-weight:bold;") Login to buy items!
      break
    else if user.username == data.username
      form(method='POST', action='/productitem/' + data._id +'?_method=DELETE' style="margin-left:2%;margin-top:20px;")
        input.btn.btn-primary(type='submit' value='Delete item' style="margin-left:33%;margin-top:1px;")
      button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#offerlist"  style="display:block;margin-left:50%;margin-top: -39px; font-size:15px;") View Offers
      #offerlist.modal.fade(role="dialog")
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              h4.modal-title Offers Listed
              button.close(type="button" data-dismiss="modal") ×
            .modal-body
              each offers in offer
                form(method ='POST' action='/productitem/' + data._id + '/' + offers.uniqueID)
                  if data.itemname == offers.itemname
                    if offers.status != 'Accepted'
                      p(style="font-size:18px") #{offers.buyer} wishes to purchase #{offers.itemname} for $#{offers.itemprice}
                      p(style="font-size:18px") Method: #{offers.deliverymethod}
                      input.btn.btn-primary(type='submit' name='acceptme',value="Accept Offer" style="display: inline-block; margin-right: 10px;")
                      input.btn.btn-danger(href='#',data-id=data._id, name= 'rejectme', type='submit',value='Reject offer',style="display: inline-block;")
            .modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") Close
    //- each offers in offer                             
    //-   if offers.status == 'Accepted'
    //-     h1(style="text-align:center;font-weight:bold;color:red") Item is no longer on sale. Sorry for the inconvenience.    
      //- else                
    else
      form(method ='POST' action='/productitem/' + data._id)
        if docs.length == 0 
            input.btn.btn-info(type="submit" value="Add to wishlist!" onclick="wishlist()" name="wishlist" style="margin-left:44%;margin-top:20px")      
        for i in docs
          if (i.id == data._id && user.username == i.wisher)
            h3(id="meow" style="text-align:center;font-weight:bold;") Item is already in wishlist
          else if i != docs
            input.btn.btn-info(type="submit" value="Add to wishlist!" onclick="wishlist()" name="wishlist" style="margin-left:44%;margin-top:20px") 
        button.btn.btn-primary(type="button" data-toggle="modal" data-target="#myModalx"  style="margin-left:44%;margin-top:20px;font-size:18px;") Send Offer    
        #myModalx.modal.fade(role="dialog" style="background: rgba(0, 0, 0, 0.3); position: fixed; top: 0; right: 0; bottom: 0; left: 0;")
          .modal-dialog
            // Modal content
            .modal-content
              .modal-header
                h4.modal-title Send Offer for #{data.itemname}
                button.close(type="button" data-dismiss="modal") ×
              .modal-body
                label(style="margin-left:26%;") $
                input(name='pricemoneyreq' type='number'  value=data.itemprice) 
                input.btn.btn-primary(href='#', data-id=data._id, type='submit', name='offer', value='Send new offer', onclick='offer()', style='margin-left:34%;margin-top:20px;')
                p(style="margin-top:20px; text-align:center;") How would you like to receive the product?
                input#delivery(type='radio', name='delivery' style="margin-left:25%;")
                label(for='delivery' style="margin-right: 50px;") Delivery
                input#meetup(type='radio', name='meetup')
                label(for='delivery') Meet-Up
              .modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") Close 
        button.btn.btn-danger.btn-lg(type="button" data-toggle="modal" data-target="#myModal"  style="margin-left:44%;margin-top:20px;font-size:18px;") Report This Item!
        #myModal.modal.fade(role="dialog" style="background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; right: 0; bottom: 0; left: 0;")
          .modal-dialog
            // Modal content
            .modal-content
              .modal-header
                h4.modal-title Report #{data.itemname}
                button.close(type="button" data-dismiss="modal") ×
              .modal-body
                <textarea rows="4" cols="50" name="reportmsg" placeholder="Please elaborate on why are you reporting this item.Thanks!"></textarea>
                input.btn.btn-info(type="submit" value="Send Report!" onclick='report()' name='report'  style="margin-left:44%;margin-top:20px;")
              .modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") Close 
        p Similar Items in the Same Category:
        .related(style="display:inline-flex;")
            each nuggets in nugget
              if nuggets.category == data.category && data.uniqueID != nuggets.uniqueID  
                img(style="height:10%;width:10%;display:block;margin-top:20px;" src= "/itempic/" + nuggets.itemimageupload )
                .text(style="margin-top:130px; margin-right:150px; margin-left:-60px; text-align:center;float:left;")
                  a(href='/productitem/' + nuggets._id style="margin-left:-90%") #{nuggets.itemname}
    style. 
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
      }
    //- input#send-offer.btn.btn-primary(href='#',data-id=data._id,type='button',value='Send offer',style="margin-left:44%;margin-top:20px;")
    //- a.btn.btn-danger.delete-article(href='#',data-id=data.usernameid) Delete
    //- script.
    //-   $('button').on('click', function() {
    //-   $.ajax({
    //-   type: 'POST',
    //-   url: '/productitem/' + data._id,
    //-   data: { status: 'Accepted' },
    //-   success: function(resultData) {
    //-   alert(resultData);
    //-   }
    //-   });
    //-   });


