extends layout
block content
    //Content
    h3#meow(style='text-align:center;font-weight:bold;') Transactions
    h5 Transactions(Seller)
        each datas, i in data
            if user.username == datas.username
                p Transaction ID: #{datas.uniqueID}
                a(href='/productitem/' + datas._id) Item Name: #{datas.itemname}
                p Item Price: $#{datas.itemprice}
                p Customer: #{datas.buyer}
                p Seller: #{datas.username}
                p Status: #{datas.status}
                br 
    h5 Transactions(Buyer)
        each datas, i in data
            if user.username == datas.buyer
                p Transaction ID: #{datas.uniqueID}
                a(href='/productitem/' + datas._id) Item Name: #{datas.itemname}
                p Item Price: $#{datas.itemprice}
                p Customer: #{datas.buyer}
                p Seller: #{datas.username}
                p Status: #{datas.status}
                br           
    
    // Footer
