extends layout
block content
    //Content
    h3#meow(style='text-align:center;font-weight:bold;') Transactions
    if user
        each datas, i in data
                p Transaction ID: #{datas.uniqueID}
                a(href='/productitem/' + datas._id) Item Name: #{datas.itemname}
                p Item Price: $#{datas.itemprice}
                p Customer: #{datas.buyer}
                p Seller: #{datas.username}
                p Status: #{datas.status}
                br 
    
    // Footer
