extends layout

block content
  if user
    .row
      .col-md-4
        .profilecenter
          if pic!=null
            img(style='border-radius: 50%', width='100', height='100', src="/profilepic/" + pic)
          else  
            img(style='border-radius: 50%', width='100', height='100', src="/profilepic/download.jpg")
          .details
              h5.name  #{current}
              ul
                  li
        .card-body
          if current != user.username 
            .row
              .col-md
              //- if follow == null
              //-   form(method ='POST' action='/profile/' + current)
              //-     input.btn.btn-primary(type="submit", name="follow1" value="Follow" style="  padding: 5px 80px;") 
              //- else 
              //-   button.btn.btn-primary(type="button", name="follow1" style="  padding: 5px 80px;") Followed
              .col-md
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">...</button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" data-toggle='modal' data-target='.report'>Report user</a></li>
                </ul>
                .modal.fade.report(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        h6
                          strong Why are your reporting this user?
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                      .modal-body
                        .form-group
                          form(method ='POST' action='/profile/' + current)
                            select.form-control(name='report')
                              option(value='An item i sold') An item i sold
                              option(value='An item i bought') An item i bought
                              option(value='Suspicious account') Suspicious account
                              option(value='Cancelling deal') Cancelling deal
                              option(value='Selling Counterfeit items') Selling Counterfeit items
                              option(value='Selling Prohibited items') Selling Prohibited items
                              option(value='Offencive behaviour') Offencive behaviour
                              br
                              textarea#comment.form-control(name="comment", rows='5')
                            input.btn.btn-primary(type='submit' value="submit" name="reporting") 
      .col-md-8
        .card
          .card-header Bio           
          .card-body #{bio}         
        br
        br         
        ul#myTab.nav.nav-tabs(role='tablist')
          li.nav-item
            a#home-tab.nav-link(href='/profile/'+current) Listing                    
          li.nav-item
            if user.username == current
              a#contact-tab.nav-link(href='/profile/'+current+'/wallet') Wallet     
          li.nav-item
            a#contact-tab.nav-link.active(href='/profile/'+current+ '/wishlist') Wishlist   
          li.nav-item
            a#contact-tab.nav-link(href='/profile/'+current+ '/comments') Comments  
        #myTabContent.tab-content
          #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
            .row
              if pic != null 
                each doc in docs
                  if current == doc.wisher
                    .div.col-md-3(id=doc._id)
                      .card 
                        img.card-img-top(style='height:200px;width:auto', src='/itempic/' + doc.itemimageupload, alt='Item')
                        .card-body
                          a(href='/productitem/' + doc.id)
                            p.card-title.text-center(style='height:50px')=doc.itemname
                          btn.btn.btn-danger(type='submit' value='Delete' style="margin-left:18%;margin-top:1px;" class="deleteBtn" id=doc._id) Delete
    script.
      $('.deleteBtn').click(function () {
          var record_num = this.id;
          $.ajax({
            url: 'http://localhost:3000/profile/a/wishlist/' + record_num,
            type: 'DELETE',
            success: function (result) {
              console.log(result.message);
              location.reload();
              //- var itemToRemove = '.div.col-md[id=' + record_num + ']';
              //- $(itemToRemove).remove();
            },
            error: function (result) {
              //- location.href = '/'
              //location.reload();
            }
          });
        });
